# common application settings
app:
  host: null   # any host will be checked
  port: 80     # port to listen to
  base_path: . # base path to project templates, configs, etc.
  base_uri: "" # base uri path for the stub service

stubman:
  disabled: false
  # DB settings
  db:
    dbname: ./data.sqlite
