# common application settings
app:
  host: null   # any host will be checked
  port: 3001   # port to listen to
  base_path: . # base path to project templates, configs, etc.

stubman:
  disabled: false
  # DB settings
  db:
    dbname: ./data.sqlite
